@import "tailwindcss";

@theme {
  --color-wardrobe-border: #97785F;
  --color-wardrobe-front: #B79173;
  --color-wardrobe-back: #5A4839;
  --color-wardrobe-back-dark: #47392D;
  --color-pink-light: #F2D4E5;
  --color-pink-medium: #F2B5D7;
  --color-blue-light: #C1D8F2;
  --color-blue-medium: #91BEF2;
  --color-purple-light: #DCCCF2;
  --color-purple-medium: #B99DDE;
}