@import "tailwindcss";

@theme {
  --color-brown-light: #B79173;
  --color-brown-medium: #97785F;
  --color-brown-dark: #5A4839;
  --color-brown-darkest: #47392D;
  --color-black-brown: #161310;
  --color-white-pink: #F5EDEC;
  --color-pink-light: #F2D4E5;
  --color-pink-medium: #EEB9D6;
  --color-blue-light: #BBD1E9;
  --color-blue-medium: #A1C6F0;
  --color-purple-light: #CBB7E7;
  --color-purple-medium: #B59ED5;
}