@import "tailwindcss";

@theme {
  --color-brown-lightest: #DFCCBF;
  --color-brown-light: #B09582;
  --color-brown-medium: #97785F;
  --color-brown-dark: #5A4839;
  --color-brown-darkest: #47392D;
  --color-black-brown: #161310;
  --color-white-pink-light: #F5F2F2;
  --color-white-pink: #F5EDEC;
  --color-pink-light: #F6DAE9;
  --color-pink-medium: #F0C1DC;
  --color-blue-light: #D4E3F2;
  --color-blue-medium: #B4D2F4;
  --color-purple-light: #E6DCEF;
  --color-purple-medium: #D7CAE7;
  --color-red-medium: #A30D29;
  --color-red-dark: #7D001F;
}